/*
   El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte
   del cálculo del ancho de la caja.
 */
/* @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    /* font-family: 'Protest Riot', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
    background: #212142;
    color: white;
    font-size: large;
    text-align: center;
}

a {
    color: #74d4ff;
    text-decoration:none;
}

.container:has(>h1){
    color: #ff72c4;
}

p:has(+strong){
    color: #a480e3;
}

h1:has(~h3){
    color: #5fff65;
}


a:has(img){
    font-size:25px;
    display: grid;
    place-content: center;
}
